.info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.product {
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 300px;
}

.link {
    text-decoration: none;
    color: #000000;
}